<a
    href="{{ url }}"
    class="{{ fieldname|clean_class }} terms-to-nodes-link node-type-{{ nodeType|clean_class }} vocabulary-type-{{ vocabularyType|clean_class }}"
    title="Link to {{ title }} page">
{{ title }}{{ addComma }}
</a>

